.home {
  background-image: url(../../images/home-table.png);
  background-position: right 120px;
  background-repeat: no-repeat;
  min-height: 743px;
  position: relative;
  padding-top: 120px;

}

@media screen and (max-width: 1023px) {
  .home::before {
    content: '';
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

@media screen and (max-width: 767px) {
  .home {
    min-height: 400px;
    background-position: right 95px;
    background-size: 300px;
  }
}

@media screen and (max-width: 570px) {
  .home {
    background-position: center 130px;
    background-size: 250px;
  }
}
