.section__paragraph {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.36;
  color: #3E3F43;
  margin: 0;
  z-index: 5;
}

@media screen and (max-width: 767px) {
  .section__paragraph {
    font-size: 25px;
  }
}