.about-us {
  background-image: url(../../images/about-us-figure.png), url(../../images/about-us-spoons.png);
  background-repeat: no-repeat;
  background-position: left 114px, right bottom;
  min-height: 950px;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 1023px) {
  .about-us::before {
    content: '';
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

@media screen and (max-width: 767px) {
  .about-us {
    background-image: url(../../images/about-us-figure.png);
    min-height: 100%;
  }
}

@media screen and (max-width: 530px) {
  .about-us {
    background-size: 280px;
  }
}

.about-us__wrapper-main {
  max-width: 448px;
  margin-top: 144px;
  margin-left: auto;
  border: 1px solid red;
}

@media screen and (max-width: 767px) {
  .about-us__wrapper-main {
    margin-top: 40px;
  }
}

.about-us__wrapper-end {
  max-width: 648px;
  margin-top: 271px;
  padding-right: 100px;
}

@media screen and (max-width: 767px) {
  .about-us__wrapper-end {
    margin-top: 150px;
    padding-right: 0;
  }
}

@media screen and (max-width: 530px) {
  .about-us__wrapper-end {
    margin-top: 40px;
  }
}