.header {
  display: flex;
  align-items: center;
  gap: 115px;
  padding-top: 23px;
  position: relative;
}

@media screen and (max-width: 1023px) {
  .header {
    gap: 50px;
  }
}

@media screen and (max-width: 530px) {
  .header {
    flex-wrap: wrap;
    gap: 10px;
  }
}

.header__menu {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 48px;
  z-index: 3;
  position: relative;
}

@media screen and (max-width: 767px) {
  .header__menu {
    gap: 20px;
    flex-wrap: wrap;
  }
}

.header__menu-item {
  list-style-type: none;
}

.header__menu-link {
  font-size: 16px;
  line-height: 22px;
  color: rgba(34, 34, 34, 0.75);
  text-decoration: none;
  transition: color 0.5s linear;
}

.header__menu-link:hover {
  color: #DAA520;
}

.header__figure {
  position: absolute;
  width: 370px;
  height: 800px;
  background-color: #F9BDBD;
  top: 0;
  right: 0;
  border-radius: 0 0 0 150px;
  z-index: -1;
}

@media screen and (max-width: 767px) {
  .header__figure{
    display: none;
  }
}
