.categories {}

.categories__cards-list {
  padding: 0;
  margin: 0;
  margin-top: 40px;
  display: flex;
  gap: 53px;
  flex-wrap: wrap;
}

@media screen and (max-width: 1151px) {
  .categories__cards-list {
    justify-content: center;
    gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  .categories__cards-list {
    margin-top: 20px;
  }
}

.categories__card-item {
  list-style-type: none;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 400px;
  background-color: #F9BDBD;
  border-radius: 0 70px 0 90px;
}

.categories__card-item:nth-of-type(2) {
  background-color: #F7DEA6;
}

.categories__card-item:nth-of-type(3) {
  background-color: #A8DCEC;
}

.categories__card-item:nth-of-type(5) {
  background-color: #F7DEA6;
}

.categories__card-title {
  margin: 24px 0 31px;
  padding-left: 16px;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  color: #3E3F43;
}

.categories__card-image {
  display: block;
  object-fit: contain;
  object-position: center;
  width: 246px;
  height: 224px;
}

.categories__card-button {
  margin-top: 24px;
  background: transparent;
  width: 123px;
  height: 40px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.39;
  border-radius: 4px;
  margin-left: auto;
  margin-right: 16px;
  border: 1px solid #3E3F43;
}