.section__image {
  object-fit: contain;
  height: 98px;
  max-width: 394px;
  box-sizing: border-box;
  display: block;
}

@media screen and (max-width: 767px) {
  .section__image {
    height: 40px;
  }
}

@media screen and (max-width: 530px) {
  .section__image {
    max-width: 250px;
  }
}