.categories__card-item {
  list-style-type: none;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 400px;
  background-color: #F9BDBD;
  border-radius: 0 70px 0 90px;
}

.categories__card-item:nth-of-type(2) {
  background-color: #F7DEA6;
}

.categories__card-item:nth-of-type(3) {
  background-color: #A8DCEC;
}

.categories__card-item:nth-of-type(5) {
  background-color: #F7DEA6;
}