.section__wrapper-title {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .section__wrapper-title {
    flex-direction: column-reverse;
    align-items: center;
  }
}