.footer {
  padding-top: 208px;
  background-color: rgb(243, 243, 243);
  box-sizing: border-box;
  background-image: url(../../images/footer-image.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  padding-left: 100px;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 1023px) {
  .footer {
    padding-top: 100px;
    padding-left: 50px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 1023px) {
  .footer::before {
    content: '';
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.footer__container {
  border: 1px solid #C4C4C4;
  /* max-width: 708px; */
  max-width: 765px;
  padding-top: 24px;
  display: flex;
  gap: 52px;
}

@media screen and (max-width: 1023px) {
  .footer__container  {
    gap: 30px;
  }
}

.footer__column-list {
  margin: 0;
  margin-top: 18px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid red;
}

.footer__list-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #8D8D8D;
}

.menu__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  gap: 45px;
  border: 1px solid red;
}

@media screen and (max-width: 1023px) {
  .menu__list {
    gap: 30px;
  }
}

.menu__list>li {
  position: relative;
}

.menu__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #333333;
  text-decoration: none;
  border: 1px solid green
}

.menu__link:hover {
  text-decoration: underline;
}

.menu__sub-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style-type: none;
  gap: 16px;
  margin-top: 25px;
  border: 1px solid red;
  position: absolute;
    top: 100%;
    left: 0;
}

@media screen and (max-width: 767px) {
  .menu__sub-list {
    margin-top: 0;
    padding-top: 25px;
    /* transform: translate(0, 10%); */
    opacity: 0;
    visibility: hidden;
    transition: all .8s ease 0s;
    pointer-events: none;
    /* display: none; */
    
  }
}

.menu__sub-link {
  text-decoration: none;
  color: #8D8D8D;
}

.menu__sub-link:hover {
  text-decoration: underline;
}

.footer__copyright {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #8D8D8D;
  text-align: center;
}

.menu__arrow {
  display: none;
}

/* --------------------------------------------------------- */
body._pc .menu__list>li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  /* transform: translate(0, 0); */
  pointer-events: all;
  display: flex;
}

body._touch .menu__arrow {
  display: block;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #8D8D8D;
  width: 0;
  height: 0;
  transition: transform .3 ease 0s;
  margin-left: 5px;
}

body._touch .menu__link {
  flex: 1 1 auto;
}

body._touch .menu__list>li {
  display: flex;
  align-items: center;
}

body._touch .menu__list>li._active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  /* transform: translate(0, 0); */
  pointer-events: all;
  /* display: flex; */
}

body._touch .menu__list>li._active .menu__arrow {
  transform: rotate(-180deg);
}