/* страница 1152px, отступ слева 80px*/
.page__container {
  max-width: 93%; 
  min-width: 320px;
  margin-left: auto;
  /* border: 1px solid red; */
}

@media screen and (max-width: 1024px) {
  .page__container {
    max-width: 95%; 
  }
}

 @media screen and (max-width: 767px) {
  .page__container {
    max-width: 90%; 
    margin: 0 auto;
  }
}