.button {
  min-width: 175px;
  min-height: 50px;
  align-self: flex-start;
  background-color: #DAA520;
  border-radius: 4px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  border: none;
}

.button:hover {
  cursor: pointer;
}