.header__menu-link {
  font-size: 16px;
  line-height: 22px;
  color: rgba(34, 34, 34, 0.75);
  text-decoration: none;
  transition: color 0.5s linear;
}

.header__menu-link:hover {
  color: #DAA520;
}